<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Персонализированная страница</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <h1 style="margin: 20px;">{{ greeting }}</h1>
        <p style="margin: 20px;">{{ curent_time }}</p>
        <h2 style="margin: 20px;">Ваш список задач на текущее время:</h2>
        <ul>
            {% for task in task %} 
                <li>{{ task }}</li>
            {% endfor %} 
        </ul>
    </body>
</html>